.home-container {
    width: 90%;
    position: relative;
    top:-2.6rem;
    display: flex;
    flex-direction: column;
    .carousel {
         display: flex;
        justify-content: center;
        height: 600px;
     }
    .shop-container {
          display: block;
     }
     .shop-header {
          display: flex;
          width: 200px;
          justify-content: space-around;
          font-size: larger;
          font-weight: 900;
      
     }
}