.home-container {
    width: 90%;
    position: relative;
    top:-2.6rem;
    display: flex;
    flex-direction: column;
    .carousel {
         display: flex;
        justify-content: center;
        height: 600px;
     }
    .shop-container {
          display: block;
     }
}