.button-container {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 1rem 4rem;
    cursor: pointer;
    font-weight: bold;
    background-color: black;
    transition: all 0.2s;
    margin: 0 1rem 1rem 0;
     text-align:center;
  
  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
    &.google-sign-in {
        background-color: #4285f4;
        color: white;
    
        &:hover {
          background-color: #357ae8;
          border: none;
        }
      }
}