.category-container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;

    padding:1rem;
      .image-container {
         margin: auto;
         width: 350px;
         max-height: 250px;
         cursor:pointer;

         .image {
            width: 100%;
            object-fit: cover;
            max-height: 100%;
         }       
    }
    .category-body-container {
        bottom: 10px;
        button {
            cursor:pointer;

            border:none;
            border-radius: 1rem;
            padding: 1rem 2rem;
            background-color:#3385ff;
            color:white
        }
        h2 {
            font-size: large;
            cursor: pointer;
        }
    }

}
 

   


   