.navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    .logo-container {
        text-decoration: none;
        .logo {
            color:blue;
        }
    }
    .nav-links-container {
        display: flex;
        gap: 2rem;
        align-items: center;
        .nav-link {
            text-decoration: none;
        }
    }
    .cart-container {
        font-size: 1.8rem;
        cursor: pointer;
    }
}

