.navigation {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
    border-bottom: 1px solid  #e6e6e6;
    font-weight: bolder;
     z-index: 10;
    width: 100%;
    color: white;
    background-color: black;
    font-weight: bolder;
    .logo-container {
        text-decoration: none;
        .logo {
            color:white;
        }
    }
    .nav-links-container {
        display: flex;
        gap: 2rem;
        align-items: center;
        color: white;
        .nav-link {
            text-decoration: none;
            &:visited {
                color: #dee2e6;
            }
            &:hover {
                color: blue;
                color: white;
            }
        }
    }
    .cart-container {
        font-size: 1.8rem;
        cursor: pointer;
    }
}
.outlet-container {
     display: flex;
    justify-content: center;
    padding-top: 6rem;
 }

