.modal-container {
    width: 200px;
    // height: 400px;
    background-color: blue;
    position:absolute;
    display: none;
    z-index: 10;
    top: 4.2rem;
     &.active {
        display: block;
    }
  
}
 