 

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:2rem;
  }

  .category-container {
  text-align: center;
   display: flex;
  flex-direction: column;
  padding:1rem;
  justify-content: space-between;
  background-color:  #f2f2f2;
 }
 
.category-background-image--container {
  margin: auto;
  max-width: 300px;
  max-height: 50%;
 }
.category-background-image {
   width: 100%;
   height: 100%;
  object-fit: contain;
}
.category-body-container button {
  border:none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor:pointer;
  background-color:#3385ff;
  color:white
 }
 .category-body-container h2 {
  font-size: large;
 }
 